@import "./../../../pages/admin.component.scss";

#menu-toggle {
    color: $admin-primary-color;
    background-color: transparent;
    border-color: transparent;
    font-size: large;
}

.shadow {
    -webkit-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.25);
}

.dropdown-item:hover {
    cursor: pointer
}