<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Gamezonia</a> </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light"> <i class="fas fa-columns"></i> Dashboard</a>
    <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"> <i class="fas fa-address-card"></i> Users</a>
  </div>
</div>