<div class="container-fluid navbar-dark bg-dark">
    <div class="d-flex justify-content-between">
        <div>
            <img class="logotype" src="/assets/img/logos/gamezonia.png" alt="Logotipo de la tienda" />
        </div>
        <div class="flex-fill">
            <span class="delivery">
                <i class="fas fa-truck"></i>&nbsp;&nbsp;
                Gastos de envio <b>GRATUITOS</b> en todos tus envios
            </span>
        </div>
        <div class="d-flex flex-fill">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              
                <li class="nav-item faq">
                  <a
                  class="nav-link"
                    [routerLink]="['/faq']" routerLinkActive="router-link-active"
                    >
                    <i class="fas fa-question"></i>
                    <span>
                        Ayuda - Preguntas frecuentes
                    </span></a
                  >
                </li>
                
              </ul>      
        </div>
    </div>
</div>