<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="add()" #forma="ngForm">
        <label for="email"><b>Fecha de nacimiento</b></label>
        <app-date-picker-legal-age
          (newDate)="dataAsign($event)"
        ></app-date-picker-legal-age>
        <label for="password"><b>Contraseña</b></label>
        <input
          type="password"
          placeholder="Introduzca la contraseña"
          #password="ngModel"
          [(ngModel)]="values.password"
          name="password"
          class="form-control"
          [ngClass]="{
            'is-valid': !password.invalid,
            'is-invalid': password.invalid
          }"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <div *ngIf="password.errors.required">
            Introduzca una contraseña por favor
          </div>
        </div>
        <label for="passwordTwo"><b>Repetir contraseña</b></label>
        <input
          type="password"
          placeholder="Repita la contraseña"
          #passwordTwo="ngModel"
          [(ngModel)]="values.passwordTwo"
          name="passwordTwo"
          class="form-control"
          [ngClass]="{
            'is-valid': !passwordTwo.invalid,
            'is-invalid': passwordTwo.invalid
          }"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            passwordTwo.invalid && (passwordTwo.dirty || passwordTwo.touched)
          "
        >
          <div *ngIf="passwordTwo.errors.required">
            Introduzca una contraseña por favor
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <button type="submit" [disabled]="!forma.valid" class="signup-btn">
              Activar usuario
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
