/* =================================
        Admin principal colors 
====================================*/

$admin-primary-color: #181F2C !important;

$admin-secondary-color: #0143a3 !important;

/* =================================
        Public principal colors 
====================================*/
/* =================================
        Common colors 
====================================*/

$dark-bg-color: white;