<nav class="navbar navbar-expand-sm navbar-dark custom-bg sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active"
        >Admin</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active"
        >Contact</a
      >
    </li>
  </ul>
</nav>
