<shop-carousel-items [items]="items"></shop-carousel-items>
<section>
  <div class="container">
    <h3 class="card-title">Lista de productos disponibles</h3>
    <hr />
    <div class="row">
      <div
        class="col-lg-3"
        *ngFor="let p of productsList"
        style="margin-bottom: 12px;"
      >
        <shop-product-item
          [showDesc]="false"
          [product]="p"
          (add)="addToCart($event)"
          (itemDetails)="showProductDetails($event)"
        ></shop-product-item>
      </div>
    </div>
    <div class="row">
      <shop-cart></shop-cart>
    </div>
  </div>
</section>

