@import "./../../../../assets/styles/colors.scss";

.border-info, .text-info {
    color: $admin-primary-color;
    border-color: $admin-primary-color;
}

.card {
    margin-bottom: 20px;
    border: none;
}

.card span {
    font-size: 40px;
    text-align:center
}

h1 {
    font-size: 1.5rem;
}