<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>Gamezonia 2020 - ¡¡Videojuegos al mejor precio!!</p>
            <p>
                Gila zubia, 20590 - Soraluze (Gipuzkoa)<br/>
                Tel: 943 75 00 00 00 / 666 00 00 00 - Contacto: mugan86@gmail.com
                <a
                    class="nav-link"
                    [routerLink]="['/contact']"
                    routerLinkActive="router-link-active"
                    >Contacta con nosotros</a
                >
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="https://youtube.com/mugan86" target="_blank">
                    <img src="/assets/img/icons/youtube.png" alt="Canal de Youtube de Anartz Mugika">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/mugan86" target="_blank">
                    <img src="/assets/img/icons/twitter.png" alt="Twitter de Anartz Mugika">
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank">
                    <img src="/assets/img/icons/facebook.png" alt="Página de Facebook">
                </a>
            </li>
        </ul>
    </div>
</footer>
