<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-1">
        <img class="img-fluid mini" *ngFor="let miniImg of screens; let i = index;"
        [src]="miniImg" alt="Screen {{ i }}"
        (click)="selectImgMain(i)" />
      </div>
    <div class="col-md-7">
      <img class="img-fluid" [src]="selectImage" alt="" />
    </div>
    <div class="col-md-4">
      <h4 class="my-3">{{ product.name }} ( {{ product.description }})</h4>
      <div class="row">
        <div class="col-lg-12">
          <shop-rating [rating]="product.rating"></shop-rating>
        </div>
        <div class="col-lg-12">
          <ng-template #noDiscount>
            <div class="price">
              {{ currencySelect }} {{ product.price }}
            </div>
          </ng-template>
          <div class="price" *ngIf="product.discount; else noDiscount">
            {{ currencySelect }} {{ product.priceDiscount | number }}
            <span>
              {{ currencySelect }} {{ product.price | number }}
            </span>
            <span class="discount-percentage">
              ({{product.discount}} %)
            </span>
          </div>
        </div>
        <div class="col-lg-12">
          Stock: {{ product.stock }}
          <hr>
          <shop-qty-selector
              [qty]="product.qty"
              [stock]="product.stock"
              (updateValue)="changeValue($event)"
            ></shop-qty-selector>
        </div>
      </div>
      <br/>
      <span class="h5">Plataformas:</span>&nbsp;
      <select>
        <option>PS4</option>
        <option>Wii</option>
      </select>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Juegos relacionados con la plataforma</h3>

  <div class="row">
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
      </a>
    </div>
    <div class="col-md-2 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
  
      <div class="col-md-2 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
