/* You can add global styles to this file, and also import other style files */
/* Definida la referencia de bootstrap */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";